{
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "quotes": ["error", "double"]
  }
}
